/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #100a09;
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

/* ESTILO DO HEADER */
header{
    padding: 40px 4%;

}

header .logo a img{
    width: 15rem;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none; /* TIRAR SUBLINHADO DE TEXTO */
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none; /* TIRAR BOLINHA DE LISTA */
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px rgb(137, 26, 241);
}